header {
    background: linear-gradient(
        45deg, black, transparent);
            display: flex;
            position: relative;
            height: 10vh;
            justify-content: end;
}

h1 {
    background-color: silver;
    font-size: 40px;
    font-style: italic;
    font-family: serif;
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0;
    padding: 0px 40px 0 40px;
}

nav {
    display: flex;
    align-items: center;
    list-style: none;
}

nav li {
    margin-right: 10px;
    font-size: 25px;
}

section {
    display: flex;
    justify-content: space-between;
}

section h2 {
    flex: 0 0 20%;
    border-right: solid 4px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}